 <!DOCTYPE html>
<html>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Chi tiết đơn hàng</h3>
                </div>
                <div class="card-body bg-white">
                    <div class="row">
                        <!-- Form Panel    -->
                        <div class="col-lg-7 bg-white">
                          <div class="form d-flex align-items-center">
                            <div class="content">
                              <form class="form-validate">
                                <div class="form-group">
                                  <strong>ID Đơn hàng:</strong>
                                  <p>DH4</p>
                                </div>
                                <div class="form-group">
                                  <strong>ID user:</strong> 
                                  <p>1612470</p>
                                </div>
                                <div class="form-group">
                                  <strong>Ngày đặt hàng:</strong> 
                                  <p>20/04/2019</p>
                                </div>
                                <div class="form-group">
                                  <strong>Tình trạng:</strong> 
                                  <p>Đã hủy</p>
                                </div>
                                <div class="form-group">
                                  <strong>Địa chỉ:</strong> 
                                  <p>Q.7 Tp.HCM</p>
                                </div>
                                <div class="form-group">
                                  <strong>ID sản phẩm 1:</strong> 
                                  <p>SP1</p>
                                </div>
                                <div class="form-group">
                                  <strong>Tổng tiền:</strong> 
                                  <p>170000 vnđ</p>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                                <div class="form-group">
                                    <button class="btn btn-primary" formaction="/orders">Trở về</button>
                                </div>
                        </div>
                    </div>
                </div>
            
</html>