<!DOCTYPE html>
<html>
 <div class="card-header d-flex align-items-center">
                      <div class="col-sm-6 ">
                       <h3 class="h4">Các Loại Sản Phẩm</h3>
                      </div>
                      <div class="col-sm-6 d-flex">
                        <form>
                          <button class="btn" formaction="/categories/create"><i class="far fa-plus-square"></i></button>
                        </form>
                        <form>
                          <button class="btn" formaction="/categories/delete"><i class="far fa-trash-alt"></i></button>
                        </form>
                        <form>
                          <button class="btn" formaction="/categories/update"><i class="far fa-edit"></i></button>
                        </form>
                      </div>
    </div>
      <div class="card-body">
        <div class="table-responsive">  
          <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>ID loại SP</th>
                              <th>Loại sản phẩm</th>
                              <th>Số sản phẩm hiện có</th>
                              <th>Xử lý</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class='clickable-row' data-href='/products'>
                              <th scope="row">1</th>
                              <td>L1</td>
                              <td>Áo thun</td>
                              <td>10</td>
                              <td>
                                <div class="row">
                                  <form>
                                    <button class="btn" formaction="/categories/delete"><i class="far fa-trash-alt"></i></button>
                                  </form>
                                  <form>
                                    <button class="btn" formaction="/categoriesupdate"><i class="far fa-edit"></i></button>
                                  </form>
                                </div>
                              </td>
                            </tr>
                          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</html>
