<html>
    <div class="card-header d-flex align-items-center">
        <h3 class="h4">Sản Phẩm Bán Chạy</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">  
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên sản phẩm</th>
                        <th>Loại sản phẩm</th>
                        <th>Số lượng đã bán</th>
                    </tr>
                </thead>
                
                {{#each list_bestSeller}}
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{this.name}}</td>
                        <th>{{this.categoryName}}</th>
                        <td>{{this.total}}</td>
                        
                    </tr>
                </tbody>
                {{/each}}
                
            </table>
        </div>
    </div>
</html>