<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-50">
							THÔNG TIN TÀI KHOẢN
						</h3>
						<p class="stext-113 cl6 p-b-30">
							ID: #1612470
						</p>
						<p class="stext-113 cl6 p-b-30">
							Họ tên: Lê Uyển Nhi
						</p>
						<p class="stext-113 cl6 p-b-30">
							Giới tính: Nữ
						</p>
						<p class="stext-113 cl6 p-b-30">
							Ngày sinh: 01/04/1998
						</p>
						<p class="stext-113 cl6 p-b-30">
							Email: 1612470@student.hcmus.edu.vn
						</p>
						<p class="stext-113 cl6 p-b-30">
							Địa chỉ: Q.7, Tp Hồ Chí Minh
						</p>
					</div>
					<div class="row">
						<a href="/history" class="block3-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">Lịch sử mua</a>
						<a href="/edit" class="block4-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">Chỉnh sửa</a>
					</div>
					
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="images/about-02.jpg" alt="Hình đại diện">
						</div>
					</div>
				</div>
			</div>
	</section>	
	
		
