
<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
            <h3 class="mtext-111 cl2 p-b-50">Chỉnh sửa tài khoản</h3>
			<h4 class="stext-113 cl6 p-b-30">ID: #123456</h4>
			<form>
	            <div class="wrap-input1 w-full p-b-4 col-md-3 col-lg-4">
                    Họ tên: <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="username" placeholder="Lê Uyển Nhi">
                    <div class="focus-input1 trans-04"></div>
	            </div>
                <div class="wrap-input1 w-full p-b-4 col-md-3 col-lg-4">
                    Ngày sinh: <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="birthday" placeholder="01/04/1998">
                    <div class="focus-input1 trans-04"></div>
	            </div>
                <div class="wrap-input1 w-full p-b-4 col-md-3 col-lg-4">
                    Email: <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                    <div class="focus-input1 trans-04"></div>
	            </div>
                <div class="wrap-input1 w-full p-b-4 col-md-3 col-lg-4">
                    Địa chỉ: <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="address" placeholder="Quận 7, Thành phố Hồ Chí Minh">
                    <div class="focus-input1 trans-04"></div>
	            </div>
	            <div class="p-t-18">
	                <a href="/" class="col-md-2 col-lg-1 flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">Chỉnh sửa</a>
	            </div>
            </form>
		</div>
	</section>	