<body class="animsition">
<!-- Topbar -->
    <div class="top-bar-2">
        <div class="content-topbar flex-sb-m h-full container">
        </div>
    </div>
    <div class="container stext-113 cl6 p-b-26">
        <br><br>
        <h1>Các câu hỏi thường gặp</h1>
        <br>
        <h3>Làm sao để đặt hàng?</h3>
        <p>Khách hàng có thể đặt hàng bằng cách thực hiên những bước sau:</p>
        <ol>
            <li>Tìm sản phẩm</li>
            <li>Khi tìm được sản phầm cần mua, nhấn vào "Xem trước" để xem chi tiết sản phẩm</li>
            <li>Chọn kích cỡ sản phẩm và số lượng, sau đó nhấn "Thêm vào giỏ hàng"</li>
            <li>Sau khi chọn sản phẩm xong khách hàng có thể kiểm tra danh sách khi nhấp vào biểu tượng giỏ hàng ở góc phải màn hình</li>
            <li>Sau khi đã kiểm tra các sản phầm, khách hàng nhấp vào nút "Thanh toán"</li>
            <li>Khách hàng cung cấp thông tin cần thiết như nơi nhận hàng, số điện thoại
            Ở bước này, khách hàng có thể điền mã khuyến mại để nhận ưu đãi, sau khi đã nhập nhấp vào cập nhật để hệ thống ghi nhận mã và cập nhật giá trên giở hàng
            </li>
            <li>Sau khi đảm bảo các bước trên, khách hàng có thể nhấp nút "Đặt hàng" </li>
            <li>Khách hàng có thể xem thông tin mà đơn hàng mình đã đặt tại phần "Theo dõi đơn đặt hàng ở cuối trang web</li>
        </ol>
        <br>
        <h3>Thanh toán bằng cách nào?</h3>
        <p>Khách hàng có thể thanh toán qua các hình thức sau:</p>
        <ul>
            <li>Thanh toán trực tiếp khi nhận được hàng</li>
            <li>Thanh toán online bằng thẻ tín dụng</li>
        </ul>
    </div>
</body>
