<body class="animsition">
<!-- Topbar -->
    <div class="top-bar-2">
        <div class="content-topbar flex-sb-m h-full container">
        </div>
    </div>
    <div class="container stext-113 cl6 p-b-26">
        <br><br>
        <h3>Chính sách đổi trả hàng</h3>
        <ul>
            <li>Sản phẩm được đổi 1 lần duy nhất trong vòng 7 ngày kể từ ngày nhận hàng.</li>
            <li>Sản phẩm đổi phải là sản phẩm chưa qua sử dụng, không bị dơ bẩn. (khi thử các sản phẩm giày dép, bạn nên mang vớ và thử giày trên bề mặt sạch)</li>
            <li>Sản phẩm đổi phải có giá bằng hoặc cao hơn giá sản phẩm đã mua. Khách hàng sẽ không được hoàn lại tiền thừa nếu sản phẩm đổi có giá trị thấp hơn sản phẩm đã mua.</li>
            <li>Trường hợp sản phẩm được đặt trong thời gian diễn ra chương trình khuyến mãi, quý khách vui lòng đổi sản phẩm trong thời gian diễn ra chương trình để được áp dụng mức giá ưu đãi.</li>
        </ul>
        <p></div>
</body>