 <!DOCTYPE html>
<html>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Chỉnh sửa sản phẩm</h3>
                </div>
                <div class="card-body bg-white">
                    <div class="row">
                        <!-- Form Panel    -->
                        <div class="col-lg-7 bg-white">
                          <div class="form d-flex align-items-center">
                            <div class="content">
                              <form class="form-validate">
                                <div class="form-group">
                                  <strong>ID Sản phẩm</strong>
                                  <input type="text" class="input-material" value="SP1">
                                </div>
                                <div class="form-group">
                                  <strong>ID Loại sản phẩm</strong> 
                                  <input type="text" class="input-material" value="L1">
                                </div>
                                <div class="form-group">
                                  <strong>Link hình ảnh</strong> 
                                  <input type="text" class="input-material" value="images\1.jpg">
                                </div>
                                <div class="form-group">
                                  <strong>Tên SP</strong> 
                                  <input type="text" class="input-material" value="Áo Esprit Ruftle">
                                </div>
                                <div class="form-group">
                                  <strong>Giá SP</strong> 
                                  <input type="text" class="input-material" value="250000">
                                </div>
                                <div class="form-group">
                                  <strong>Số lượng hiện có</strong> 
                                  <input type="text" class="input-material" value="10">
                                </div>
                                <div class="form-group">
                                  <strong>Mô tả</strong> 
                                  <input type="text" class="input-material" value="...">
                                </div>
                                <div class="form-group">
                                  <strong>Kích cỡ</strong> 
                                  <input type="text" class="input-material" value="M">
                                </div>
                                <div class="form-group">
                                  <strong>Màu sắc</strong> 
                                  <input type="text" class="input-material" value="Đen">
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                                <div class="form-group">
                                    <button class="btn btn-primary" formaction="/products">Lưu</button>
                                </div>
                        </div>
                        <div class="col-lg-3">
                                <div class="form-group">
                                    <button class="btn btn-primary" formaction="/products">Hủy</button>
                                </div>
                        </div>
                    </div>
                </div>
            
</html>