 <!DOCTYPE html>
<html>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Thêm sản phẩm</h3>
    </div>
    <div class="card-body bg-white">
      <div class="row">
        <!-- Form Panel    -->
          <div class="col-lg-7 bg-white">
            <div class="form d-flex align-items-center" id="myform">
              <div class="content">
                  <form class="form-validate" action="/products/create" method="POST">
                    <div class="form-group">
                      <strong>File hình ảnh</strong> 
                      <input type="text" class="input-material" value="" name ="linkImg" id="linkImg" required>
                    </div>
                    <div class="form-group">
                      <strong>Tên Sản phẩm</strong> 
                      <input type="text" class="input-material" value="" name ="name" id="name" required>
                    </div>
                    <div class="form-group">
                      <strong>Giá Sản phẩm</strong> 
                      <input type="text" class="input-material" value="" name ="price" id="price">
                    </div>
                    <div class="form-group">
                      <strong>Số lượng</strong> 
                      <input type="text" class="input-material" value="" name ="amount" id="amount">
                    </div>
                    <div class="form-group">
                      <strong>Size</strong> 
                      <input type="text" class="input-material" value="" name ="size" id="size">
                    </div>
                    <div class="form-group">
                      <strong>Color</strong> 
                      <input type="text" class="input-material" value="" name ="color" id="color">
                    </div>
                    <div class="form-group">
                      <strong>Mô tả</strong> <br><br>
                      <textarea rows="10" cols="30" class="input-material"name ="descript" id="descript" ></textarea>
                    </div>  
                    <div class="form-group">
                        <strong>Loại sản phẩm: &emsp;</strong> 
                        <select name="category" id="category">
                          {{#each catergories }}
                            <option id = {{this._id}} value={{this._id}}>{{this.name}}</option>
                          {{/each}}
                        </select>
                    </div>
                    <br><br>
                    <div class="row form-group">
                      <div class="col-lg-3">
                        <div class="form-group">
                          <button type ="submit" class="btn btn-primary">Thêm</button>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <p></p>
                      </div>
                      <div class="col-lg-3">
                        <a href="javascript:history.back()" class="btn btn-primary">Hủy</a>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
    </div>    
    <script>
      jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
      });
      $( "#myform" ).validate({
        rules: {
          linkImg:{
            required:true,
            url:true,
          }
          name:{required:true}
          price:{
            required:true,
            number:true,
            min:10000}
          amount:{
            required:true,
            number:true}
          size:{
            require:true
            }
          color:{require:true}
          category:{require:true}
          },
          messages:{
            linkImg:{
            required:true,
            url:true,
          }
          name:{required:true}
          price:{
            required:"Hãy nhập giá tiền",
            number:"Đây không phải là số",
            min:"Giá tiền quá thấp"}
          amount:{
            required:"Hãy nhập số lượng",
            number:"Đây không phải là số"}
          size:{
            require:"Hãy chọn kích cỡ"
            }
          color:{require:"Hãy chọn kích cỡ"}
          category:{require:"Hãy chọn loại sản phẩm"}
          }

        }
      });
    </script>  
</html>