<!DOCTYPE html>
<html>

                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Tài Khoản Người Dùng</h3>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">  
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>ID Người dùng</th>
                              <th>Họ và tên</th>
                              <th>Tên đăng nhập</th>
                              <th>Trạng thái</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>1612384</td>
                              <td>Nguyễn Trần Duy Minh</td>
                              <td>minhnguyen</td>
                              <td id="greenStyle">Online</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>1612470</td>
                              <td>Trần Ngô Anh Nguyên</td>
                              <td>nguyentran</td>
                              <td id="greenStyle">Online</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>1612470</td>
                              <td>Lê Uyển Nhi</td>
                              <td>nhile</td>
                              <td id="redStyle">Offline</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
</html>
