<!DOCTYPE html>
<html>
    <div class="card-header d-flex align-items-center">
        <h3 class="h4">Thay Đổi Thông Tin</h3>
    </div>
    <div class="card-body bg-white">
        <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-5 bg-white">
              <div class="row info d-flex align-items-center">
                <div class="avata">
                  <img src="/images/avatar-1.jpg">
                </div>
                <div class="w-100"></div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-7 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form class="form-validate">
                    <div class="form-group">
                      <strong>Username</strong>
                      <input type="text" class="input-material" value="markstephen">
                    </div>
                    <div class="form-group">
                      <strong>Họ và tên</strong> 
                      <input type="text" class="input-material" value="Mark Stephen">
                    </div>
                    <div class="form-group">
                      <strong>Email</strong> 
                      <input type="email" class="input-material" value="mark@gmail.com">
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 bg-white">
                <div class="btn-avata">
                    <button class="btn btn-primary">Click button to change your avatar</button>
                </div>
            </div>
            <div class="col-lg-7 bg-white">
                <div class="form-group">
                    <button class="btn btn-primary" formaction="/">Save</button>
                </div>
            </div>
        </div>
    </div>
</html>
