<!DOCTYPE html>
<html>
        <header class="page-header">
          <div class="container-fluid">
            <h2 class="no-margin-bottom">Thông Tin Chung</h2>
          </div>
        </header>
        <section class="dashboard-counts no-padding-bottom">
          <div class="container-fluid">
            <div class="row bg-white has-shadow">
              <div class="col-xl-4 col-sm-6">
                <div class="item d-flex align-items-center">
                  <div class="icon bg-violet"><i class="icon-user"></i></div>
                  <div class="title"><span>Khách hàng <br>mới</span>
                    <div class="progress">
                      <div class="progress-bar bg-violet" role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="number"><strong>25</strong></div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6">
                <div class="item d-flex align-items-center">
                  <div class="icon bg-red"><i class="icon-padnote"></i></div>
                  <div class="title"><span>Đơn hàng<br>mới</span>
                    <div class="progress">
                      <div class="progress-bar bg-violet" role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="number"><strong>70</strong></div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6">
                <div class="item d-flex align-items-center">
                  <div class="icon bg-green"><i class="icon-bill"></i></div>
                  <div class="title"><span>Hóa đơn<br>mới</span>
                    <div class="progress">
                      <div class="progress-bar bg-violet" role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="number"><strong>40</strong></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="dashboard-header">
          <div class="container-fluid">
            <div class="row">
              <div class="chart col-lg-12 col-12">
                <div class="card-header bg-white d-flex align-items-center">
                  <h3 class="h4">Thống Kê Doanh Thu Theo Tháng</h3>
                </div>
                <div class="bar-chart bg-white d-flex align-items-center justify-content-center has-shadow">
                  <canvas id="barChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </section>

</html>