<!DOCTYPE html>
<html>

                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Sản phẩm</h3>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">  
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>ID sản phẩm</th>
                              <th>Tên sản phẩm</th>
                              <th>Số lượng</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>SP1</td>
                              <td>Áo Esprit Ruftle</td>
                              <td>10</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>SP2</td>
                              <td>Áo herschel supply</td>
                              <td>9</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>SP3</td>
                              <td>Áo kiểu đen</td>
                              <td>10</td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>SP4</td>
                              <td>Áo khoác cổ điển Trench</td>
                              <td>6</td>
                            </tr>
                            <tr>
                              <th scope="row">5</th>
                              <td>SP5</td>
                              <td>Áo thun nữ Femme</td>
                              <td>15</td>
                            </tr>
                            <tr>
                              <th scope="row">6</th>
                              <td>SP6</td>
                              <td>Áo thun trắng tay ngắn</td>
                              <td>10</td>
                            </tr>
                            <tr>
                              <th scope="row">7</th>
                              <td>SP7</td>
                              <td>Áo sơ mi tay dài Herschel</td>
                              <td>9</td>
                            </tr>
                            <tr>
                              <th scope="row">8</th>
                              <td>SP8</td>
                              <td>Áo cổ tròn xám</td>
                              <td>15</td>
                            </tr>
                            <tr>
                              <th scope="row">9</th>
                              <td>SP9</td>
                              <td>Áo in xương rồng</td>
                              <td>10</td>
                            </tr>
                            <tr>
                              <th scope="row">10</th>
                              <td>SP10</td>
                              <td>Áo croptop</td>
                              <td>10</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
</html>
