<html>
    <h3>Thống kê doanh thu</h3>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Theo thời gian
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Ngày</a>
            <a class="dropdown-item">Tháng</a>
            <a class="dropdown-item">Quý</a>
            <a class="dropdown-item">Năm</a>
        </div>
    </div>
    <div class="chart-container" style="position: relative"; height:40vh; width:80vw>
        <canvas id="barChart"></canvas>
    </div>
</html>
