<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lịch sử</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
</head>

<body class="animsition">
	<form class="bg0 p-t-75 p-b-85">
			<div class="container">
				<h1>Lịch sử mua hàng</h1><br><br>
				<div class="row">
					<div class="col-lg-10">
						<div>
							<div class="wrap-table-history-list">
								<table class="bg6 table-history-list">
									<tr class="table_head">
										<th class="column-1">ID đơn hàng</th>
										<th class="column-2">Ngày</th>
										<th class="column-3">Sản phẩm</th>
										<th class="column-4">Tổng tiền</th>
										<th class="column-5">Trạng thái</th>
									</tr>

									<tr class="table_row">
										<td class="column-1">DH001</td>
										<td class="column-2">01/01/2019</td>
										<td class="column-3">Áo khoác màu dâu tươi</td>
										<td class="column-4 js-cost">830000</td>
										<td class="column-5">Đã giao hàng </td>
									</tr>

									<tr class="table_row">
										<td class="column-1">DH002</td>
										<td class="column-2">02/02/2019</td>
										<td class="column-3">Áo khoác mỏng</td>
										<td class="column-4 js-cost">370000</td>
										<td class="column-5">Chưa giao hàng </td>
									</tr>

									<tr class="table_row">
										<td class="column-1">DH003</td>
										<td class="column-2">03/03/2019</td>
										<td class="column-3">
											<p>Áo thun xanh</p>
											<p>Quần jean</p>
											<p>Dây nịch nam</p>
											<p>Giày âu nam</p>
											</td>
										<td class="column-4 js-cost">3000000</td>
										<td class="column-5">Đã giao hàng </td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</body>